@import url('fonts.googleapis.com');
html {
    display: table;
    margin: auto;
    height: 100%;
}
body {
    background: rgb(253, 253, 240);
    padding: 100px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}
.container {
    display: flex;
    justify-content: center;
    width: 800px;
    height: 700px;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}
.containerouter {
    position: absolute;
    background-color: rgb(205, 243, 252);
    width: 1200px;
    height: 800px;
    z-index: -1;
    box-shadow: -10px 10px 5px rgb(167, 171, 172);
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}
.inputform {
    padding: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
}
#results {
    color: rgb(243, 239, 239);
    background-color: rgb(12, 41, 53);
    border-bottom-left-radius: 80px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    width: 400px;
}
fieldset {
    border: 0;
    padding: 0px;
}
button {
    background: rgb(98, 178, 196);
    border-radius: 10px;
    cursor: pointer;
}
.obox {
    border-top: solid rgb(155, 155, 35) 3px;
    border-radius: 5px;
    background: rgb(7, 22, 29);
    height: 200px;
    padding: 5px;
    display: flex;
    flex-direction: column;

}
.calctitle {
    font-size: 20px;
}
.attribution {
    padding: 10px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
#submit {
    background: rgb(220,220,50);
    border-color: rgb(220,220,50);
    border-radius: 15px;
    width: 200px;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
}
#submit:hover {
    background-color: rgb(192, 192, 45);
}
.repaymentbox, .interestonlybox {
    border: solid 1px;
    padding: 2px;
    margin: 4px;
    width: 167px
}
.outputbox {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  color: rgb(255,255,255);
}
#clearall {
    position: relative;
    left: 220px;
    bottom: 45px;
    width: 80px;
}
#clearall:hover {
    background: rgb(83, 151, 167);
}
.emptyimage {
    position: relative;
    left: 120px;
    top: 150px;
    height: 150px;
    width: 150px;
}
.emptytitle {
    font-size: 18px;
    text-align: center;
    position: relative;
    top: 150px
}
.emptytext {
    text-align: center;
    position: relative;
    top: 160px;
    justify-content: center;
}
.otitle {
    font-size: 20px;
}
