@import url('fonts.googleapis.com');
body {
    background: rgb(253, 253, 240);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 100px;
}
.container {
    display: flex;
    justify-content: center;
    width: 800px;
    height: 500px;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    margin: 100px;
}
.containerouter {
    position: absolute;
    background-color: rgb(205, 243, 252);
    width: 1200px;
    height: 800px;
    bottom: 50%;
    transform: translate(0%,50%);
    z-index: -1;
    box-shadow: -10px 10px 5px rgb(167, 171, 172);
}
.inputform {
    padding: 10px;
    padding-right: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#results {
    color: rgb(243, 239, 239);
    background-color: rgb(12, 41, 53);
    border-bottom-left-radius: 80px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ocontainer {
    position: relative;
    bottom: 60px;
}
fieldset {
    border: 0;
    padding: 0px;
}
.formtopline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
button {
    background: rgb(205, 243, 252);
    border-radius: 10px;
    cursor: pointer;
}
.numinput {
    font-size: 20px;
    border: 0;
    padding: 10px;
    width: 100%;
}
input:focus {
    border-color: rgb(192, 192, 45);
    outline: 0;
    background-color: rgb(250, 250, 180);
}
.obox {
    border-top: solid rgb(155, 155, 35) 3px;
    border-radius: 5px;
    background: rgb(7, 22, 29);
    height: 200px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.calctitle {
    font-size: 20px;
    font-weight: bold;
}
.attribution {
    padding: 10px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
#submit {
    display: flex;
    justify-content: space-around;
    background: rgb(220,220,50);
    border-color: rgb(220,220,50);
    border-radius: 15px;
    width: 250px;
    height: 30px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    cursor: pointer;
}
#submit:hover {
    background-color: rgb(192, 192, 45);
}
.submittext {
    position: relative;
    bottom: 12px;
}
.repaymentbox, .interestonlybox {
    border: solid 2px rgb(131, 131, 131);
    padding: 2px;
    margin: 4px;
    width: 300px;
    accent-color: rgb(192, 192, 45);
}
.repaymentbox::selection, .interestonlybox::selection {
    background-color: rgb(192, 192, 45);
}
.outputbox {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  color: rgb(255,255,255);
}
#clearall {
    width: 80px;
    height: 20px;
    position: relative;
    top: 20px;
}
#clearall:hover {
    background: rgb(83, 151, 167);
}
.emptyimage {
    width: 180px;
    transform: translate(50%);
}
.emptytitle {
    font-size: 20px;
    text-align: center;
}
.emptytext {
    text-align: center;
}
.otitle {
    font-size: 20px;
    font-weight: bold;
}
.obody {
    padding-bottom: 20px;
}
.repaymentstext {
    color: rgb(131, 131, 131);
}
.monthlypayments {
    font-size: 40px;
    color: rgb(220,220,50);
    border-bottom: solid rgb(70, 70, 70) 2px;
    padding-bottom: 20px;
}
.totaltext {
    color: rgb(131, 131, 131);
}
.total {
    font-size: 20px;
}
.amountbox {
    display: flex;
    font-size: 20px;
    width: 300px;
    border: solid rgb(131, 131, 131) 2px;
    border-radius: 5px;
    height: 30px;
    margin-top: 5px;
}
.termbox {
    display: flex;
    font-size: 20px;
    width: 160px;
    border: solid rgb(131, 131, 131) 2px;
    border-radius: 5px;
    height: 30px;
}
.ratebox {
    display: flex;
    font-size: 20px;
    width: 160px;
    border: solid rgb(131, 131, 131) 2px;
    border-radius: 5px;
    height: 30px;
}
.amounttag {
    text-align: center;
    border-right: solid rgb(131, 131, 131) 2px;
    border-radius: 5px;
    margin: 0;
    padding: 3px;
    width: 10%;
    background-color: rgb(205, 243, 252);
}
.termtag {
    text-align: center;
    border-left: solid rgb(131, 131, 131) 2px;
    border-radius: 5px;
    margin: 0;
    padding: 3px;
    width: 30%;
    background-color: rgb(205, 243, 252);
}
.ratetag {
    text-align: center;
    border-left: solid rgb(131, 131, 131) 2px;
    border-radius: 5px;
    margin: 0;
    padding: 3px;
    width: 30%;
    background-color: rgb(205, 243, 252);
}
.termandrate {
    display: flex;
    justify-content: space-between;
}
#amounterror, #termerror, #rateerror {
    font-size: 12px;
    color: rgb(220,10,10);
    position: absolute;

}